<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image-container">
        <img src="/af1.png" class="d-block w-100" alt="Imagen 1">
        <div class="carousel-caption">
          <h5>Entraña al horno de barro</h5>
          <p>Deliciosa entraña, única y con una cocción inigualable.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image-container">
        <img src="/af2.png" class="d-block w-100" alt="Imagen 2">
        <div class="carousel-caption">
          <h5>Título de la Imagen 2</h5>
          <p>Descripción de la imagen 2.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image-container">
        <img src="/af3.png" class="d-block w-100" alt="Imagen 3">
        <div class="carousel-caption">
          <h5>Título de la Imagen 3</h5>
          <p>Descripción de la imagen 3.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


