<div class="container py-5 media-section">
    <h2 class="text-center mb-4">Galería de Videos e Imágenes</h2>
    
    <div class="row g-4">
      <!-- Videos -->
      <div class="col-md-6">
        <h5 class="mb-3">Asados de primera</h5>
        <div class="ratio">
          <iframe src="/video.mp4" title="Video 1" allowfullscreen></iframe>
        </div>
      </div>
      
      <!-- Imágenes -->
      <div class="col-md-6">
        <h5 class="mb-3">Sin asado no hay felicidad...</h5>
        <div class="row g-3">
          <div class="col-6">
            <img src="/img02.jpg" alt="Imagen 1" class="img-fluid rounded shadow gallery-img">
          </div>
          <div class="col-6">
            <img src="/img03.jpg" alt="Imagen 2" class="img-fluid rounded shadow gallery-img">
          </div>
          <div class="col-6">
            <img src="/img04.jpg" alt="Imagen 3" class="img-fluid rounded shadow gallery-img">
          </div>
          <div class="col-6">
            <img src="/img05.jpg" alt="Imagen 4" class="img-fluid rounded shadow gallery-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  
