<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <h5>A fuego lento</h5>
        <p>© 2024 A fuego lento. Todos los derechos reservados.</p>
        <div class="social-links">
            <a href="#" class="text-white mx-2">Facebook</a>
            <a href="#" class="text-white mx-2">Twitter</a>
            <a href="#" class="text-white mx-2">Instagram</a>
        </div>
        <p class="mt-3">Contáctanos: infoafuegolento.com</p>
        <p><a href="#" class="text-white">Política de Privacidad</a> | <a href="#" class="text-white">Términos de Servicio</a></p>
    </div>
</footer>

