
.navbar-custom {
    margin: 0px;
    background-color: #2B2B2B !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  
  .navbar-custom .nav-link {
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-custom .nav-link:hover {
    color: #AB0000 !important;
    transform: scale(1.05);
  }
  
  .navbar-brand img {
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .navbar-brand img:hover {
    transform: scale(1.1);
  }
  
  .offcanvas-header {
    background-color: #2B2B2B;
    color: white;
  }
  
  .offcanvas-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .btn-close-white {
    filter: invert(1);
  }
  
  .offcanvas-body {
    background-color: #2B2B2B;
  }
  
  .offcanvas .navbar-nav .nav-link {
    color: #f1f1f1;
  }
  
  .offcanvas .navbar-nav .nav-link:hover {
    color: #AB0000 ;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: #AB0000;
    border-radius: 5px;
  }
}