body {
  background-image: url('../public/Mantel.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

html, body {
  overflow: auto;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.btn {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
  border: 2px solid #2B2B2B;
  box-shadow: none;
  font-family: 'Kanit', sans-serif; 
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none !important;
}

.btn-warning {
  background-color: #2B2B2B !important; 
  color: #fff !important;
  border-color: #2B2B2B;
}

.btn-warning:hover {
  background-color: #AB0000 !important;
  color: #fff !important;
  border-color: #AB0000;
}

.btn-danger {
  background-color: #2B2B2B !important;
  color: #fff !important;
  border-color: #2B2B2B;
}

.btn-danger:hover {
  background-color: #AB0000 !important;
  color: #fff !important;
  border-color: #AB0000; 
}

.btn:active {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #2B2B2B !important;
  color: #fff !important;
  border-color: #2B2B2B;
}

.btn-primary:hover {
  background-color: #AB0000 !important;
  color: #fff !important;
  border-color: #AB0000;
}

.btn-primary:active {
  transform: scale(0.98);
}

body {
  font-family: 'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Anton', sans-serif;
}

input, textarea, select, .form-control {
  font-family: 'Kanit', sans-serif; 
}

label, .form-label {
  font-family: 'Anton', sans-serif;
}

a.btn {
  font-family: 'Kanit', sans-serif;
}

.btn:hover, .btn:active {
  font-family: 'Kanit', sans-serif; 
}

