<app-menu></app-menu>
<div class="container py-5">

  <h2 class="text-center mb-4">Quienes Somos</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <h5>Nuestra Historia</h5>
      <p>
        En "A Fuego Lento", nos apasiona compartir recetas auténticas y
        tradicionales de asado argentino. Nuestro equipo está dedicado a
        llevarte los mejores consejos y técnicas para que cada receta sea un
        éxito.
      </p>
      <p>
        Nos inspira la cocina lenta, el aroma del asado y la calidez de los
        momentos compartidos en torno a la parrilla.
      </p>
      <p>
        En "A Fuego Lento", celebramos las raíces de nuestra gastronomía, creando un espacio donde la tradición y el sabor se unen para rendir homenaje al arte del asado argentino.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <h5>Fotos de Nuestro Equipo</h5>
      <div class="row">
        <div class="col-6 mb-2">
          <img src="/asado01.jpg" class="equipo-imagen" alt="Foto del equipo 1">
        </div>
        <div class="col-6 mb-2">
          <img src="/asado02.webp" class="equipo-imagen"
            alt="Foto del equipo 2">
        </div>
        <div class="col-6 mb-2">
          <img src="/messi.jpg" class="equipo-imagen"
            alt="Foto del equipo 3">
        </div>
        <div class="col-6 mb-2">
          <img src="/persona.jpg" class="equipo-imagen"
            alt="Foto del equipo 4">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h5 class="text-center">Reseñas</h5>
    <div class="row">
      <div class="col-md-4 text-center mb-3">
        <blockquote class="resena">
          <p>"Las mejores recetas para un asado perfecto."</p>
          <footer class="blockquote-footer">Juan Pérez</footer>
        </blockquote>
      </div>
      <div class="col-md-4 text-center mb-3">
        <blockquote class="resena">
          <p>"Gracias a 'A Fuego Lento' mis asados han mejorado un montón."</p>
          <footer class="blockquote-footer">María González</footer>
        </blockquote>
      </div>
      <div class="col-md-4 text-center mb-3">
        <blockquote class="resena">
          <p>"Una comunidad que realmente ama el asado y la cocina argentina."</p>
          <footer class="blockquote-footer">Carlos López</footer>
        </blockquote>
      </div>
    </div>
  </div>
  
</div>
