
.container {
  max-width: 900px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 40px 20px;
  background-color: #fdf2e9;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  opacity: 1;
}

.container:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 247, 240, 0.95);
}

.equipo-imagen {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.equipo-imagen:hover {
  transform: scale(1.05);
}

.resena {
  background-color: #fef9f4;
  border: 1px solid #AB0000 ;
  border-radius: 10px;
  padding: 20px;
  font-style: italic;
  color: #555;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.resena:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}



h2 {
  font-size: 2.5rem;
  color: rgb(31, 29, 28);
  margin-bottom: 30px;
  text-align: center;
}


h5 {
  font-size: 1.75rem;
  color:xrgb(194, 43, 13) ;
  margin-bottom: 15px;
}


p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}


.img-fluid {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


blockquote {
  background-color: #fef9f4;
  border: 1px solid #e6a157;
  border-radius: 10px;
  padding: 20px;
  font-style: italic;
  color: #555;
}

blockquote footer {
  text-align: right;
  font-size: 1rem;
  color: #AB0000 ;
  font-weight: bold;
}


blockquote p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}


.row {
  margin-bottom: 30px;
}


.text-center {
  text-align: center;
}


.mb-4 {
  margin-bottom: 30px;
}

  